<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <nav>
        <a href="file:///C:/xampp/htdocs/dashboard/CollierTrack/templates/form.html">Add New Parcel</a>
        <a href="file:///C:/xampp/htdocs/dashboard/CollierTrack/templates/list_parcels.html">List of Parcels</a>
        <a href="file:///C:/xampp/htdocs/dashboard/CollierTrack/templates/report_lost.html">Report Lost Item</a>
    </nav>
</body>
</html>